<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/estilo.css')}}">
</head>

<body>
    <header>

    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/fornecedor">Fornecedor</a>
    </nav>
    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    
    <footer>
        <div class="copy">&copy; copyleft</div>
    </footer>
</body>

</html>